{% load rest_framework %}

<html><body>

<h1>View {{ title }}</h1>

<form action="{% url view_name pk=pk %}" method="POST">
    {% csrf_token %}
    {% for field in serializer %}
        {% if field.name != 'url' %}
            {% render_field field style=style %}
        {% endif %}
        {% if field.name in serializer.url_fields %}
            <a href="{{ request.get_host }}/{{ field.name }}/add" target="_blank">Add new</a>
        {% endif%}
    {% endfor %}
    <br><input type="submit" value="Save">
</form>
<form action="{% url delete_view_name pk=pk %}">
    <input type="submit" value="Delete" />
</form>

</body></html>